*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-size: 14px;
    font-family: sans-serif;
}
main{
    border: 1px solid #000;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: left;
    gap: 80px;
    height: 600px;
    position: relative;
    top: 15px;
}
main .Product--food{
    border: 1px solid #000;
    width: 50%;
    padding: 10px;
}
main .Product--food h1{
    font-size: 2em;
    letter-spacing: 1.5px;
    font-weight: 400;
}
main .Product--food article{
    width: 100%;
    border: 1px solid #000;
    height: 95%;
}
main .Product--food article .Product{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    background-color: #bbb;
    gap: 2px;
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
}
main .Product--food article .Product::-webkit-scrollbar{
    width: 5px;
    background-color: #bbb;
}
main .Product--food article .Product::-webkit-scrollbar-thumb{
    background-color: #000;
    border-radius: 5px;
}
main .Product--food article .Product .Description--product{
    margin-top: 2px;
    padding-left: 10px;
    width: 199px;
    text-align: center;
    height: 255px;
}
main .Product--food article .Product .Description--product div{
    margin: 3px;
}
main .Product--food article .Product .Description--product div img{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    transition: .1s linear;
}
main .Product--food article .Product .Description--product div img:hover{
    border: 2px solid #e30;
}
main .Product--food article .Product .Description--product div .Add--car{
    display: flex;
    border: 1px solid #f40;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    width: 140px;
    margin: auto;
    cursor: pointer;
}
main .Product--food article .Product .Description--product div .Add--car span{
    font-size: 1.1em;
}
main .Product--food article .Product .Description--product .details-product{
    border: 1px solid #aaa;
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    padding: 5px;
    border-radius: 10px;
    background-color: #444;
}
main .Product--food article .Product .Description--product .details-product p{
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 500;
    color: #eee;
}
main .Product--food article .Product .Description--product .details-product span:nth-child(1){
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 600;
    color: #222;
}
main .Product--food article .Product .Description--product .details-product #cash--product{
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 600;
    color: #f40;
} 