*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #fdfdfd;
    font-family: sans-serif;
}
header{
    width: 85%;
    height: 415px;
    box-shadow: 0 0 15px #000;
    border-radius: 30px;
    background-color: #fdfdfd;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 90px;
    padding: 15px;
    gap: 22px;
}
header .Imagen{
    position: relative;
    padding: 12px;
    top: 5px;
    left: 10px;
    width: 15%;
    height: 50px;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    align-items: flex-start;
}
header .Imagen img{
    width: 45%;
    border-radius: 10px;
    filter: brightness(1,1);
    mix-blend-mode:multiply;
    outline: 2px solid #883BE5;
    outline-offset: 2px;
    transition: .2s linear;
    cursor: pointer;
}
header .Imagen img:hover{
    background-color: #fff;
    outline: 2px solid #000;
    padding: 5px;
}
header .Imagen__main{
    padding: 0;
    margin-top: 5px;
    position: relative;
    left: -35px;
    width: 500px;
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .Imagen__main img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    outline: 2px solid #883BE5;
    outline-offset: 1px;
    transition: .1s linear;
}
header .Imagen__main img:hover{
    padding: 5px;
    outline: 2px solid #ea3;
}
header .Content{
    width: 100%;
    height: 320px;
    margin-top: 3px;
    display: flex;
    flex-flow: column wrap;
    font-size: 12px;
    padding: 10px;
    position: relative;
    left: -25px;
}
header .Content span:nth-child(1){
    color: #05f;
    font-size: 1.2em;
    letter-spacing: 2px;
    text-wrap: wrap;
    font-weight: 500;
}
header .Content h1{
    letter-spacing: 1.5px;
    text-wrap: wrap;
    text-shadow: 0 0 5px #aad;
    color: #000;
    font-size: 2.3em;
    font-weight: 600;
    text-transform: capitalize;
}
header .Content h1 .Subtitle{
    font-size: 0.7em;
    color: #444;
    margin-top: 3px;
}
header .Content h4{
    font-size: 1.8em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 6px;
    
}
header .Content h4 .subtitle{
    font-size: 0.7em;
    margin: 2px 2px;
    color: #333;
    text-decoration: line-through #000;
}
header .Content h3{
    font-size: 1.4em;
    margin-top: 20px;
    padding: 2px;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: 0 0 2px #fdf;
    text-wrap: wrap;
}
header .Content .opcion {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    padding: 4px;
}
header .Content .opcion button {
    font-size: 1.6em;
    color: #000;
    background-color: none;
    border: none;
    padding: 5px 12px;
    outline: none;
    text-shadow: 0 0 2px #000;
    transition: .1s linear;
    cursor: pointer;
}
header .Content .opcion button:hover{
    background-color: #000;
    outline: 2px solid #05f;
    color: #fff;
    padding: 7px 15px;
}
header .Content .Buttom{
    margin: 10px 5px;
    padding: 5px 15px;
    color: #fff;
    background-color: #06a;
    border: none;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    outline: none;
    width: 380px;
    position: relative;
    left: 125px;
    top: 15px;
    box-shadow: 0 0 12px #004;
    font-weight: 800;
    transition: background-color .1s linear, color .1s linear;
}
header .Content .Buttom:hover{
    background-color: #fff;
    color: #000;
}