body{
    margin: 0;
}
.Main__center{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 300;
    padding: 20px;
    margin: 30px;
    width: 380px;
    margin: 0 auto;
}
.Main__center__input{
    width: 300px;
    padding: 6px 7px;
    margin: 25px;
    border: none;
    border-top: 3px solid darkgoldenrod;
    border-bottom: 3px solid darkgoldenrod;
    color: white;
    background-color: silver;
}
.Box__sizing{
    width: 400px;
    height: 150px;
    margin: 100px;
    padding: 50px;
    border: 4px solid black;
    background-color: red;
    box-sizing: content-box; /*Con content box*/
}
.Box{
    margin: 50px;
    padding: 150px;
    border: 7px solid black; /*con border Box*/
    box-sizing: border-box;
    background-color: blue;
}